<h1 mat-dialog-title>Booking</h1>
<div class="wrap" mat-dialog-content>
  <p>Забронировать номер : {{ data.number }}</p>
  <p>Стоимость: {{ data.price }}</p>
  <div>
    <p>Имя:</p>
    <input type="text" />
  </div>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button>Забронировать</button>
  <p></p>
  <button (click)="onClose()">Oтменить</button>
</div>
